__pycache__/
*.py[cod]
.venv/
.python_nuget/
.python_embed/
.python_pkg/
tcltk_extract*/
python_layout/
venv/
env/
build/
dist/
*.spec
data/
*.db
*.zip
python*.zip
*.msi
*.nupkg
python-*.exe
*.log
.pytest_cache/
.mypy_cache/
